body{
        background-color: red($color: #000000);

}

.bStyle{
        border-radius: 25px;
        border: 2px solid white;
        background: white;
        padding: 10px; 
}

.cForVacancy{
        color: black;
        position: absolute;
        top: 275px;
        left: 90%;
}

.rJob{
    margin-left: 15px;
    position: absolute;
    top: 107%;
}

.conGetEmail{
  
}