<div class="container">
  <div class="jumbotron">
    <div class="img-fluid"> 
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search for Job Vacancy Title, Company or Location " aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">Search</button>
        </div>
      </div>
    </div>

    <div class="btn-group">
      <button type="button" class="btn btn-primary"><small>Location</small></button>
      <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <p class="container">Enter a location</p>
        <hr>
        <a class="dropdown-item" href="#">Jakarta</a>
        <a class="dropdown-item" href="#">Tanggerang</a>
        <a class="dropdown-item" href="#">Banten</a>
        <a class="dropdown-item" href="#">Bandung</a>
        <a class="dropdown-item" href="#">Yogyakarta</a>
        <a class="dropdown-item" href="#">Surabaya</a>
        <a class="dropdown-item" href="#">Medan</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Work Abroad</a>
        <a class="dropdown-item" href="#">Work From Home</a>
        <a class="dropdown-item" href="#">View All Location</a>
      </div>
    </div>
    &nbsp;
    <div class="btn-group">
      <button type="button" class="btn btn-primary"><small>Job Level</small></button>
      <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#"><strong> All Job Level</strong></a>
        <a class="dropdown-item" href="#">Internship / OJT</a>
        <a class="dropdown-item" href="#">Entry Level / Junior Apprentice</a>
        <a class="dropdown-item" href="#">Associate / Supervisor</a>
        <a class="dropdown-item" href="#">Mid-Senior Level / Manager</a>
        <a class="dropdown-item" href="#">Director / Executive</a>
      </div>
    </div>
    &nbsp;
    <div class="btn-group">
      <button type="button" class="btn btn-primary"><small>Job Type</small></button>
      <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#"><strong>All Job Types</strong></a>
        <a class="dropdown-item" href="#">Full Time</a>
        <a class="dropdown-item" href="#">Part-Time</a>
      </div>
    </div>    
    &nbsp;
    <div class="btn-group">
      <button type="button" class="btn btn-primary"><small>Employment Type</small></button>
      <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#"><strong>All Employment Types</strong></a>
        <a class="dropdown-item" href="#">Permanent</a>
        <a class="dropdown-item" href="#">Contract</a>
        <a class="dropdown-item" href="#">Probation</a>
      </div>
    </div>    
    &nbsp;
    <div class="btn-group">
      <button type="button" class="btn btn-primary"><small>Job Function</small></button>
      <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>
    &nbsp;
    <div class="btn-group">
      <button type="button" class="btn btn-primary"><small>Education</small></button>
      <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>    
    &nbsp;
    <div class="btn-group">
      <button type="button" class="btn btn-primary"><small>Company</small></button>
      <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>
    &nbsp;
    <div class="btn-group">
      <button type="button" class="btn btn-primary"><small>Salary</small></button>
      <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>
    <br>
    <br>

    <div class="location">
      <span class="border border-white bStyle" style="font-size: 12px;">LOCATION | JAKARTA | X </span>
      &nbsp;
      <span class="border border-white bStyle" style="font-size: 12px;">JOB LEVEL | ENTRY LEVEL | X </span>
      &nbsp;
      <span class="border border-white bStyle" style="font-size: 12px;">JOB TYPE | FULL TIME | X </span>
      &nbsp;
      <span class="border border-white bStyle" style="font-size: 12px;">Employment TYPE | PERMANENT | X </span>
      &nbsp;
      <span class="border border-white bStyle" style="font-size: 12px;">JOB FUNCTION | IT AND SOFTWARE | X </span>
      <br><br><br>
      <span class="border border-white bStyle" style="font-size: 12px;">COMPANY | LAWENCON | X </span>
      &nbsp;
      <span class="border border-white bStyle" style="font-size: 12px;">MONTHLY SALARY | IDR 10,000,000 | X </span>
      &nbsp;
      <span class="border border-white bStyle" style="font-size: 12px;">EDUCATION | BACHELOR | X </span>
    </div>
  </div>
  <button type="button" class="btn bg-white cForVacancy">x clear</button>
</div>

<div class="container">
  <div class="row">
    <div>
      <a style="margin-left: 20px;"><strong>RECOMMENDED JOBS</strong></a>
    </div>
  </div>
</div>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-11 ">
      <a style="font-size: 12px;">1 - 10 of 33 job vacancy matches</a>
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      <a style="font-size: 12px;">Relevance</a>
      &nbsp;
      &nbsp;
      <a style="font-size: 12px;">Alphabet</a>
      &nbsp;
      &nbsp;
      <a style="font-size: 12px;">Salary</a>
      &nbsp;
      &nbsp;
      <a style="font-size: 12px;">Expiry Date</a>
      &nbsp;
      &nbsp;
      <a style="font-size: 12px;">Posting Date</a>
    </div>
  </div>

  <div class="container">
    <div class="conGetEmail">
      <div class="">
        <a style="font-size: 12px; margin-left: 68%; margin-top: 50px; ">get an email and notification when new jobs match this Search</a>
      </div>
    </div>
  </div>
  
  <div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4"></div>
    <div class="row">
      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-8 col-md-6 mb-4" style="position: absolute; right: 33.5%; top: 89%;">
        <div class="card shadow h-100 py-2" >
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"></div>
                <div class="h5 mb-0 font-weight-bold text-gray-800" style="margin-left: 20px;">Lawecon</div>
              </div>
              <div style="position: absolute; left: 30%; top: 10%; ">
                <a href="#" style="font-size: 16px; "><u>Java Programmer</u></a>
                <br>
                <a style="font-size: 12px; ">PT Lawecon Internasional</a>
                <br>
                <a style="font-size: 12px;">Jakarta Indonesia</a>
                <br>
                <a style="font-size: 12px;">Salary</a>
              </div>
              <div style="position: absolute; left: 80%; top: 10%; ">
                <a style="font-size: 12px; ">Posted 1 month ago</a>
                <br>
                <a style="font-size: 12px;">Aplly before 25 feb</a>
              </div>
              <div class="col-auto" style="margin-top: 30px;">
                <br>
                <button type="button" class="bg-primary" style="font-size: 12; border-radius: 12px; color:white; padding: 5px; ">SAVED</button>
                &nbsp;
                <button type="button" class="btn btn-primary" style="font-size: 12; border-radius: 12px; color:white; padding: 5px; ">APPLY</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4"></div>
    <div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-8 col-md-6 mb-4" style="position: absolute; right: 33.5%; top: 122%;">
      <div class="card shadow h-100 py-2" >
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"></div>
              <div class="h5 mb-0 font-weight-bold text-gray-800" style="margin-left: 20px;">Lawecon</div>
            </div>
            <div style="position: absolute; left: 30%; top: 10%; ">
              <a href="#" style="font-size: 16px; "><u>Java Programmer</u></a>
              <br>
              <a style="font-size: 12px; ">PT Lawecon Internasional</a>
              <br>
              <a style="font-size: 12px;">Jakarta Indonesia</a>
              <br>
              <a style="font-size: 12px;">Salary</a>
            </div>
            <div style="position: absolute; left: 80%; top: 10%; ">
              <a style="font-size: 12px; ">Posted 1 month ago</a>
              <br>
              <a style="font-size: 12px;">Aplly before 25 feb</a>
            </div>
            <div class="col-auto" style="margin-top: 30px;">
              <br>
              <button type="button" class="bg-primary" style="font-size: 12; border-radius: 12px; color:white; padding: 5px; ">SAVED</button>
              &nbsp;
              <button type="button" class="btn btn-primary" style="font-size: 12; border-radius: 12px; color:white; padding: 5px; ">APPLY</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>