<div class="container">
  <div class="jumbotron">
    <div class="img-fluid"> 
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search for Job Vacancy Title, Company or Location " aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">Search</button>
        </div>
      </div>
    </div>

    <div class="btn-group">
      <button type="button" class="btn btn-primary"><small>Location</small></button>
      <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <p class="container">Enter a location</p>
        <hr>
        <a class="dropdown-item" href="#">Jakarta</a>
        <a class="dropdown-item" href="#">Tanggerang</a>
        <a class="dropdown-item" href="#">Banten</a>
        <a class="dropdown-item" href="#">Bandung</a>
        <a class="dropdown-item" href="#">Yogyakarta</a>
        <a class="dropdown-item" href="#">Surabaya</a>
        <a class="dropdown-item" href="#">Medan</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Work Abroad</a>
        <a class="dropdown-item" href="#">Work From Home</a>
        <a class="dropdown-item" href="#">View All Location</a>
      </div>
    </div>
    &nbsp;
    <div class="btn-group">
      <button type="button" class="btn btn-primary"><small>Job Level</small></button>
      <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#"><strong> All Job Level</strong></a>
        <a class="dropdown-item" href="#">Internship / OJT</a>
        <a class="dropdown-item" href="#">Entry Level / Junior Apprentice</a>
        <a class="dropdown-item" href="#">Associate / Supervisor</a>
        <a class="dropdown-item" href="#">Mid-Senior Level / Manager</a>
        <a class="dropdown-item" href="#">Director / Executive</a>
      </div>
    </div>
    &nbsp;
    <div class="btn-group">
      <button type="button" class="btn btn-primary"><small>Job Type</small></button>
      <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#"><strong>All Job Types</strong></a>
        <a class="dropdown-item" href="#">Full Time</a>
        <a class="dropdown-item" href="#">Part-Time</a>
      </div>
    </div>    
    &nbsp;
    <div class="btn-group">
      <button type="button" class="btn btn-primary"><small>Employment Type</small></button>
      <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#"><strong>All Employment Types</strong></a>
        <a class="dropdown-item" href="#">Permanent</a>
        <a class="dropdown-item" href="#">Contract</a>
        <a class="dropdown-item" href="#">Probation</a>
      </div>
    </div>    
    &nbsp;
    <div class="btn-group">
      <button type="button" class="btn btn-primary"><small>Job Function</small></button>
      <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>
    &nbsp;
    <div class="btn-group">
      <button type="button" class="btn btn-primary"><small>Education</small></button>
      <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>    
    &nbsp;
    <div class="btn-group">
      <button type="button" class="btn btn-primary"><small>Company</small></button>
      <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>
    &nbsp;
    <div class="btn-group">
      <button type="button" class="btn btn-primary"><small>Salary</small></button>
      <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>
    <br>
    <br>

    <div class="location">
      <span class="border border-white bStyle" style="font-size: 12px;">LOCATION | JAKARTA | X </span>
      &nbsp;
      <span class="border border-white bStyle" style="font-size: 12px;">JOB LEVEL | ENTRY LEVEL | X </span>
      &nbsp;
      <span class="border border-white bStyle" style="font-size: 12px;">JOB TYPE | FULL TIME | X </span>
      &nbsp;
      <span class="border border-white bStyle" style="font-size: 12px;">Employment TYPE | PERMANENT | X </span>
      &nbsp;
      <span class="border border-white bStyle" style="font-size: 12px;">JOB FUNCTION | IT AND SOFTWARE | X </span>
      <br><br><br>
      <span class="border border-white bStyle" style="font-size: 12px;">COMPANY | LAWENCON | X </span>
      &nbsp;
      <span class="border border-white bStyle" style="font-size: 12px;">MONTHLY SALARY | IDR 10,000,000 | X </span>
      &nbsp;
      <span class="border border-white bStyle" style="font-size: 12px;">EDUCATION | BACHELOR | X </span>
    </div>
  </div>
  <button type="button" class="btn bg-white cForVacancy">x clear</button>
</div>

<div class="container">
  <div class="row">
    <div>
      <a style="margin-left: 20px;"><strong>RECOMMENDED JOBS</strong></a>
    </div>
  </div>
</div>

  <div class="row">
    <div class="section-body mt-3">
      <div class="container-fluid">
        <div class="row clearfix">
          <div class="col-8">
              <div class="card">
                <div class="table-responsive">
                  <table class="table table-hover table-striped table-vcenter mb-0">
                    <thead>
                    <tr>
                      <th colspan="7" class="fontSize">1-10 of job vacancy matches</th>
                      <th colspan="1" class="fontSize"><a class="pi pi-sort-amount-down-alt">Applied Date&nbsp;</a></th>
                      <th colspan="1" class="fontSize"><a class="pi pi-sort-alpha-down">Alphabet&nbsp;</a>&nbsp; </th>
                      <th colspan="1" class="fontSize"><a class="pi pi-sort-amount-down-alt">Salary&nbsp;</a>&nbsp;</th>
                      <th colspan="1" class="fontSize"><a class="pi pi-sort-amount-down-alt">Expiry Date&nbsp;</a>&nbsp;</th>
                      <th colspan="1" class="fontSize"><a class="pi pi-sort-amount-down-alt">Posting Date</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>
                          <img class="fit-picture"
                          src="./assets/images/gallery/logo.jpg"
                          alt="Company Logo">
                      </td>
                      <td colspan="5">
                          <a href="./detail" class="detail-job"><u>Java Programmer</u></a>
                          <br><span><small>Lawencon International</small></span>
                          <br><span><small>Jakarta, Indonesia</small></span>
                          <br><span><small> IDR 5,000,000-10,000,000</small></span>
                      </td>
                      <td colspan="4">
                        <span class="d-flex flex-row" style="text-align: center;"></span>
                      </td>
                      <td colspan="2">
                          <span>
                              <br><span><small>Posted 1 Month ago</small></span>
                              <br><span><small>appy before 25 feb</small></span>
                              <br><br>
                              <button type="button" class="bg-primary" style="font-size: 12px; border-radius: 12px; color:white; padding: 5px; ">SAVED</button>
                              &nbsp;
                              <button type="button" class="btn btn-primary" style="font-size: 12px; border-radius: 12px; color:white; padding: 5px; ">APPLY</button>
                          </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <img class="fit-picture"
                          src="./assets/images/gallery/logo.jpg"
                          alt="Company Logo">
                      </td>
                      <td colspan="5">
                          <a href="./detail" class="detail-job"><u>Java Programmer</u></a>
                          <br><span><small>Lawencon International</small></span>
                          <br><span><small>Jakarta, Indonesia</small></span>
                          <br><span><small> IDR 5,000,000-10,000,000</small></span>
                      </td>
                      <td colspan="4">
                        <span class="d-flex flex-row" style="text-align: center;"></span>
                      </td>
                      <td colspan="2">
                          <span>
                              <br><span><small>Posted 1 Month ago</small></span>
                              <br><span><small>appy before 25 feb</small></span>
                              <br><br>
                              <button type="button" class="bg-primary" style="font-size: 12px; border-radius: 12px; color:white; padding: 5px; ">SAVED</button>
                              &nbsp;
                              <button type="button" class="btn btn-primary" style="font-size: 12px; border-radius: 12px; color:white; padding: 5px; ">APPLY</button>
                          </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <img class="fit-picture"
                          src="./assets/images/gallery/logo.jpg"
                          alt="Company Logo">
                      </td>
                      <td colspan="5">
                          <a href="./detail" class="detail-job"><u>Java Programmer</u></a>
                          <br><span><small>Lawencon International</small></span>
                          <br><span><small>Jakarta, Indonesia</small></span>
                          <br><span><small> IDR 5,000,000-10,000,000</small></span>
                      </td>
                      <td colspan="4">
                        <span class="d-flex flex-row" style="text-align: center;"></span>
                      </td>
                      <td colspan="2">
                          <span>
                              <br><span><small>Posted 1 Month ago</small></span>
                              <br><span><small>appy before 25 feb</small></span>
                              <br><br>
                              <button type="button" class="bg-primary" style="font-size: 12px; border-radius: 12px; color:white; padding: 5px; ">SAVED</button>
                              &nbsp;
                              <button type="button" class="btn btn-primary" style="font-size: 12px; border-radius: 12px; color:white; padding: 5px; ">APPLY</button>
                          </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <img class="fit-picture"
                          src="./assets/images/gallery/logo.jpg"
                          alt="Company Logo">
                      </td>
                      <td colspan="5">
                          <a href="./detail" class="detail-job"><u>Java Programmer</u></a>
                          <br><span><small>Lawencon International</small></span>
                          <br><span><small>Jakarta, Indonesia</small></span>
                          <br><span><small> IDR 5,000,000-10,000,000</small></span>
                      </td>
                      <td colspan="4">
                        <span class="d-flex flex-row" style="text-align: center;"></span>
                      </td>
                      <td colspan="2">
                          <span>
                              <br><span><small>Posted 1 Month ago</small></span>
                              <br><span><small>appy before 25 feb</small></span>
                              <br><br>
                              <button type="button" class="bg-primary" style="font-size: 12px; border-radius: 12px; color:white; padding: 5px; ">SAVED</button>
                              &nbsp;
                              <button type="button" class="btn btn-primary" style="font-size: 12px; border-radius: 12px; color:white; padding: 5px; ">APPLY</button>
                          </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <img class="fit-picture"
                          src="./assets/images/gallery/logo.jpg"
                          alt="Company Logo">
                      </td>
                      <td colspan="5">
                          <a href="./detail" class="detail-job"><u>Java Programmer</u></a>
                          <br><span><small>Lawencon International</small></span>
                          <br><span><small>Jakarta, Indonesia</small></span>
                          <br><span><small> IDR 5,000,000-10,000,000</small></span>
                      </td>
                      <td colspan="4">
                        <span class="d-flex flex-row" style="text-align: center;"></span>
                      </td>
                      <td colspan="2">
                          <span>
                              <br><span><small>Posted 1 Month ago</small></span>
                              <br><span><small>appy before 25 feb</small></span>
                              <br><br>
                              <button type="button" class="bg-primary" style="font-size: 12px; border-radius: 12px; color:white; padding: 5px; ">SAVED</button>
                              &nbsp;
                              <button type="button" class="btn btn-primary" style="font-size: 12px; border-radius: 12px; color:white; padding: 5px; ">APPLY</button>
                          </span>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
          <div class="col-4">
            <div class="container">
              <div class="conGetEmail">
                <a style="font-size: 10px;">get an email and notification when new jobs match this Search</a>
              </div>
              <br><br><br>
              <div>
                <h1>Job Poster</h1>
              </div>
              <br><br><br>
              <div>
                <h3>Featured Jobs</h3>
              </div>
            </div>
          </div>
          <div class="col-8" style="align-self: center;">
            <div class="container">
              <p-paginator [rows]="10" [totalRecords]="20" [rowsPerPageOptions]="[10,20,30]"></p-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>