<div class="row mx-auto">
    <div class="col-lg-2">
        <img src="assets/avatar.png"><br>
        <a href="" style="text-align: center;">
            <i class="fa fa-linkedin-square"></i>Import from LinkedIn
        </a><br>
        <a href="" style="text-align: center;">
            <i class="fa fa-download"></i>Download Profile PDF
        </a>
    </div>
    <div class="col-lg-5">
        <div class="row">
            <p>John Doe</p><br>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <i class="fa fa-user" style="margin-right: 0.5vw;"></i>20200230001<br>
                <i class="fa fa-envelope" style="margin-right: 0.5vw;"></i>john.doe@gmail.com<br>
                <i class="fa fa-phone" style="margin-right: 0.5vw;"></i>022-33132341
            </div>
            <div class="col-lg-6">
                <i class="fa fa-tint" style="margin-right: 0.5vw;"></i>A<br>
                <i class="fa fa-birthday-cake" style="margin-right: 0.5vw;"></i>23-JUN-1988<br>
                <i class="fa fa-transgender" style="margin-right: 0.5vw;"></i>Male
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <i class="fa fa-map-marker" style="margin-right: -1vw;"></i>
            </div>
            <div class="col-lg-11" style="margin-left: -2vw;">
                <p>Wisma Staco, 5th Floor Casablanca Street, Kav. 18 12870, Jakarta Selatan</p>
            </div>
            <p>Salary Expectations : IDR 6,000,000</p>
        </div>
    </div>
    <div class="col-lg-3">
        <p-chart type="doughnut" [data]="completion" style="height: 50%;"></p-chart>
    </div>
    <div class="col-lg-2">
        Basic Information<br>
        Family Members<br>
        Address<br>
    </div>
</div>
<div class="row">

</div>
