<!-- <div class="col-lg-12 col-md-12 col-sm-12 p-0 mx-auto"> -->
<div class="row mx-auto">
    <div class="col-lg-2">
        <img src="assets/avatar.png">
        <a href="">
            <i class="fa fa-linkedin-square"></i>Import from LinkedIn
        </a>
    </div>
    <div class="col-lg-2">
        <p>John Doe</p>
        <p-table>
            <ng-template pTemplate="body">
                <tr>
                    <td><i class="fa fa-use"></i></td>
                    <td>20200230001</td>
                    <td><i class="fa fa-tint"></i></td>
                    <td>A</td>
                </tr>
                <tr>
                    
                </tr>
            </ng-template>
        </p-table>
        <i class="fa fa-user"></i>&nbsp;20200230001<br>
        <i class="fa fa-envelope"></i>john.doe@gmail.com<br>
        <i class="fa fa-phone"></i>022-33132341<br>
        <i class="fa fa-map-marker"></i>Wisma Staco, 5th Floor Casablanca Street, Kav. 18 12870, Jakarta Selatan<br>
        <p>Salary Expectations : IDR 6,000,000</p>
    </div>
</div>
<div class="row">

</div>
