  <div class="section-body mt-3">
    <div class="container-fluid">
      <div class="row clearfix">
        <div class="col-12">
              <small>maximum 10 job alert can be saved</small>
        </div>
        <div class="col-12">
          <div class="card">
            <div class="table-responsive">
              <table class="table table-hover table-striped table-vcenter mb-0">
                <tbody>
                  <tr>
                    <td colspan="6"><a href="./job-alert" class="detail-alert"><u>Programmer (5 new)</u></a><br><span>Jakarta, Indonesia</span><br><span class="fe fe-clock">&nbsp;Weekly via email and notification</span></td>
                    <td colspan="2" style="text-align: right;">
                      
                      <!-- <button pButton icon="pi pi-pencil" style="border-color: black; width:60px; height: 20px;" (click)="showDialog()" label="EDIT" class="ui-button-secondary"></button>   -->
                    </td>
                    <td colspan="2" style="text-align: right;">
                      <button class="btn"><i class="fa fa-trash-o"></i>DELETE</button>
                      <!-- <button type="button" pButton icon="pi pi-trash" style="border-color: black;" (click)="confirm2()" label="DELETE" class="ui-button-secondary"></button>   -->
                    </td>
                  </tr>
                <tr>
                  <td colspan="6"><a href="./job-alert" class="detail-alert"><u>Developer (97 new)</u></a><br><span>Jakarta, Indonesia</span><br><span class="fe fe-clock">&nbsp;Weekly via email and notification</span></td>
                  <td colspan="2">
                    <button type="button" pButton icon="pi pi-pencil" style="border-color: black;" (click)="showDialog()" label="EDIT" class="ui-button-secondary"></button>  
                  </td>
                  <td colspan="2">
                    <button type="button" pButton icon="pi pi-trash" style="border-color: black;" (click)="confirm2()" label="DELETE" class="ui-button-secondary"></button>  
                  </td>
                </tr>
                <tr>
                  <td colspan="6"><a href="./job-alert" class="detail-alert"><u>Manager (23 new)</u></a><br><span>Jakarta, Indonesia</span><br><span class="fe fe-clock">&nbsp;Weekly via email</span></td>
                  <td colspan="2">
                    <button type="button" pButton icon="pi pi-pencil" style="border-color: black;" (click)="showDialog()" label="EDIT" class="ui-button-secondary"></button>  
                  </td>
                  <td colspan="2">
                    <button type="button" pButton icon="pi pi-trash" style="border-color: black;" (click)="confirm2()" label="DELETE" class="ui-button-secondary"></button>  
                  </td>
                </tr>
                <tr>
                  <td colspan="6"><a href="./job-alert" class="detail-alert"><u>Analyst (15 new)</u></a><br><span>Jakarta, Indonesia</span><br><span class="fe fe-clock">&nbsp;Weekly via notification</span></td>
                  <td colspan="2">
                    <button type="button" pButton icon="pi pi-pencil" style="border-color: black;" (click)="showDialog()" label="EDIT" class="ui-button-secondary"></button>  
                  </td>
                  <td colspan="2">
                    <button type="button" pButton icon="pi pi-trash" style="border-color: black;" (click)="confirm2()" label="DELETE" class="ui-button-secondary"></button>  
                  </td>
                </tr>
                <tr>
                  <td colspan="4"><span><b>Get job recommendations</b></span>
                    <br><span>Get job recommendations based on your profile, interests and activity</span>
                    <br>
                      <span>
                        <label class="switch">
                          <input type="checkbox">
                          <span class="slider round"></span>
                        </label>
                      </span>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->

<p-dialog header="Manage Job Alert" [(visible)]="display" [style]="{width: '50vw'}" [baseZIndex]="10000">
  <div>
    <p> <b>Programmer </b><br> Jakarta, Indonesia</p><br>
  </div>     
  <div class="p-col-12">
    <p>Frequency<br></p>
    <p-radioButton name="groupname" label="Daily" [(ngModel)]="selectedValueFreq"></p-radioButton><br>
    <p-radioButton name="groupname" label="Weekly" [(ngModel)]="selectedValueFreq"></p-radioButton><br>
    <p-radioButton name="groupname" label="Monthly" [(ngModel)]="selectedValueFreq"></p-radioButton><br>
  </div>
  <div class="p-col-12">
    <p><br>Get notified via<br></p>
    <input type="radio" ng-disabled="all" label="Email"><br>
    <input type="radio" ng-disabled="all" label="Email and Notification"><br>
    <input type="radio" ng-disabled="all" label="Notification">
    <!-- <p-radioButton name="groupname2" label="Email and Notification" [(ngModel)]="selectedValueNotif"></p-radioButton><br>
    <p-radioButton name="groupname2" label="Email" [(ngModel)]="selectedValueNotif"></p-radioButton><br>
    <p-radioButton name="groupname2" label="Notification" [(ngModel)]="selectedValueNotif"></p-radioButton> -->
  </div>
  <p-footer>
    <button type="button" pButton icon="pi pi-undo" (click)="display=false" label="CANCEL" class="ui-button-secondary"></button>  
    <button type="button" pButton icon="pi pi-save" (click)="display=false" label="SAVE"></button> 
  </p-footer>
</p-dialog>

<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
<p-messages [value]="msgs"></p-messages>