<div class="container">
    <div class="row">
      <div>
        <a style="margin-left: 20px;"><strong>RECOMMENDED JOBS</strong></a>
      </div>
    </div>
</div>
<br>
  
<div class="container">
    <div class="row">
      <div class="col-md-11 ">
        <a style="font-size: 12px;">1 - 1 of 1 job vacancy</a>
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <a style="font-size: 12px;">Relevance</a>
        &nbsp;
        &nbsp;
        <a style="font-size: 12px;">Alphabet</a>
        &nbsp;
        &nbsp;
        <a style="font-size: 12px;">Salary</a>
        &nbsp;
        &nbsp;
        <a style="font-size: 12px;">Expiry Date</a>
        &nbsp;
        &nbsp;
        <a style="font-size: 12px;">Posting Date</a>
      </div>
    </div>
    
    <div class="container-fluid">
      <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4"></div>
      <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-8 col-md-6 mb-4" style="position: absolute; right: 33.5%; top: 89%;">
          <div class="card shadow h-100 py-2" >
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"></div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800" style="margin-left: 20px;">Lawecon</div>
                </div>
                <div style="position: absolute; left: 30%; top: 10%; ">
                  <a href="#" style="font-size: 16px; "><u>Java Programmer</u></a>
                  <br>
                  <a style="font-size: 12px; ">PT Lawecon Internasional</a>
                  <br>
                  <a style="font-size: 12px;">Jakarta Indonesia</a>
                  <br>
                  <a style="font-size: 12px;">Salary</a>
                </div>
                <div style="position: absolute; left: 80%; top: 10%; ">
                  <a style="font-size: 12px; ">Posted 1 month ago</a>
                  <br>
                  <a style="font-size: 12px;">Aplly before 25 feb</a>
                </div>
                <div class="col-auto" style="margin-top: 30px;">
                  <br>
                  <button type="button" class="bg-primary" style="font-size: 12; border-radius: 12px; color:white; padding: 5px; ">SAVED</button>
                  &nbsp;
                  <button type="button" class="btn btn-primary" style="font-size: 12; border-radius: 12px; color:white; padding: 5px; ">APPLY</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>